div(class="nav justify-content-end")
    div(class="nav-item")
        a(class="nav-link active" href="/") Home
    div(class="nav-item")
        a(class="nav-link active" href="/contact") Contact
    div(class="nav-item")
        a(class="nav-link active" href="/about") About