html
  head
    title= title
    link(rel="stylesheet", href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css")
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    link(rel="stylesheet", href="css/style.css")
  body
    div(id="main" class="main")
    script(src="js/bundle.js")