html
  head
    title= title
    link(rel="stylesheet", href="css/style.css")
  body
    include includes/nav.pug
    div(class="jumbotron")
      h1(class="display-4")= message
    button(type="button" class="btn btn-info" id="like_button_container")
    script(src="js/bundle.js")
    span(class="fas fa-camera")