html
  head
    title= title
    link(rel="stylesheet", href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css")
    link(rel="stylesheet", type="text/css", href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
    link(rel="stylesheet", type="text/css", href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css")
    link(rel="stylesheet", type="text/css", href="https://colorlib.com/preview/theme/magnews2/fonts/iconic/css/material-design-iconic-font.min.css")
    link(rel="stylesheet", type="text/css", href="https://colorlib.com/preview/theme/magnews2/vendor/animate/animate.css")
    link(rel="stylesheet", type="text/css", href="https://colorlib.com/preview/theme/magnews2/vendor/css-hamburgers/hamburgers.min.css")
    link(rel="stylesheet", type="text/css", href="https://colorlib.com/preview/theme/magnews2/vendor/animsition/css/animsition.min.css")
    link(rel="stylesheet", type="text/css", href="https://colorlib.com/preview/theme/magnews2/css/util.min.css")
    link(rel="stylesheet", type="text/css", href="https://adminlte.io/themes/v3/plugins/toastr/toastr.min.css")
    link(rel="stylesheet", href="css/style.css")
  body
    div(id="main" class="main")
    script(src="js/bundle.js")